{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "react-native/react-native": true,
    "jest": true
  },

  "extends": [
    "plugin:cypress/recommended",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "project": ["./tsconfig.json"],
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "prettier",
    "cypress"
  ],
  "rules": {
      "jest/expect-expect": "off",
      "rules": {
        "indent": ["error", 2],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
        "semi": ["error", "never"],
        "react/no-unescaped-entities": ["error", { "forbid": [">", "}"] }],
        "react/display-name": ["off"],
        "react/prop-types": ["off"]
      }
    
  }
}