.briefForm{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 28vh;
  padding: 20px;
}

.briefArticle{
  padding:10px;
  border: 1px solid black;
  margin-top: 30px;
  border-radius: 5px;
  min-width: 30%;
}